<h1> Welcome <%=@user.username %>! </h1>

<h3> Click <%= link_to 'here', new_reservation_path %> to schedule a reservation </h3>
<h3> Click <%= link_to 'here', reviews_newest_reviews_path %> to view the 5 recently reviewed restaurants </h3>
