<h1> Welcome <%=@user.username %>! </h1>

<h3> Click <%= link_to 'here', new_reservation_path %> to schedule a reservation </h3>
<h3> Click <%= link_to 'here', reviews_newest_reviews_path %> to view the 5 recently reviewed restaurants </h3>


<h4> Restaurants you last reviewed </ h4>

<% @user.restaurant_reviews.each do |r| %>

    <ul>
        <li>
            <%= link_to r.name, restaurant_reviews_path(r.id) %>
        </li>
     </ul>

<% end %>



