<h1> Upcoming Reservations </h1>



<% @reservations.each do |res| %>
    Appointment confirmed with <%= reservation.restaurant.name if reservation.restaurant %> <%= reservation.datetime.strftime("On %m/%d/%Y") %> <%= reservation.datetime.strftime("at %I:%M%p") %></p>
        
        <%= button_to "delete", appointment, :method => :delete %>
<%end%>