<h1> Upcoming Reservations </h1>



<% @reservations.each do |res| %>
    Appointment confirmed with <%= res.restaurant.name if res.restaurant %> <%= res.datetime.strftime("On %m/%d/%Y") %> <%= res.datetime.strftime("at %I:%M%p") %></p>
        
        <%= button_to "delete", res, :method => :delete %>
<%end%>